
{% extends 'base.html' %}
{% block title %} Acerca de.... {% endblock %}
{% block content %}

	<h1>Esta es un acerca de...</h1></body>
	<h3>Descripcio: {{ msg }}</h3>
	<h4 align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet quam vitae viverra aliquam. Suspendisse accumsan pretium varius. Praesent at tincidunt velit. Nulla tempus mollis eleifend. Vestibulum nec ornare ipsum, id commodo metus. Mauris gravida enim id lacus pulvinar, ut ultricies tellus lobortis. Nullam posuere eleifend lorem ac semper. Fusce sed purus vel nisi sollicitudin pretium ac et ligula. Donec accumsan suscipit mi a eleifend. Donec elementum tempor facilisis. Vestibulum molestie lectus sed velit sollicitudin, at feugiat purus tempus. Proin hendrerit consectetur tincidunt. Morbi fringilla orci eu ultricies convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi consectetur vehicula risus, vel volutpat nulla tempus in. Aenean feugiat dictum porttitor.

Integer nec porta felis. Phasellus blandit bibendum condimentum. Nulla viverra nec dui quis auctor. Integer elementum, purus quis dignissim mattis, quam elit consectetur est, posuere aliquet mauris lorem id dolor. Curabitur mattis, eros in sodales vestibulum, orci nibh tempor odio, hendrerit ultrices lorem mauris et mauris. Suspendisse vel suscipit libero, nec viverra ligula. Aenean placerat massa ac augue rutrum, ac hendrerit urna facilisis. Vivamus iaculis orci id nunc sodales tincidunt. Nulla hendrerit arcu non mi posuere, sed interdum velit tempus. Etiam ac ultrices nibh. Mauris at purus sit amet turpis pharetra egestas.</h4>

{% endblock %}