{% extends 'base.html' %}
{% block title %} Contactanos {% endblock %}
{% block content %}
	<h1>Contactanos</h1>
		{% if info_enviado %}
			Gracias por enviar comentario
			<br>
			La informacion recibida fue la siguiente<br>
			<p>Email Utilizado: {{email}}</p>
			<p>Titulo:{{titulo}}</p>
			<p>Texto citado:</p><br> <h3>{{texto}}</h3>

		{% else %}
			<form action="." method='POST'>
				{% csrf_token %}
				{{form.as_p}}
			<button class="btn btn-primary" type="submit"> Enviar </button> 
			</form>
		{% endif %}
{% endblock %}